@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#hamburger{
    transition:all 150ms ease-in-out;
}
.bar-top,
.bar-middle,
.bar-bottom{
    position:absolute;
    content:'';
    left:0;
    top:0;
    width:25px;
    height:3px;
    transform:rotate(0);
    transition: 200ms all ease-in-out;
}
.bar-middle{
    top:7px;
}
.bar-bottom{
    top:14px;
}

.ficon:hover{
    filter: invert(53%) sepia(38%) saturate(3303%)
    hue-rotate(326deg) brightness(101%) contrast(96%);
}

/* bg-hero */

@media screen(lg){
    .bg-hero{
        width:2000px;
        height:300px;
        left:30%;
        @apply absolute rounded-l-full top-28 bg-softBlue;
    }
    .bg-tabs{
        width:2000px;
        height:300px;
        right:60%;
        @apply absolute rounded-r-full top-72 bg-softBlue;
    }
}